<div class="title">
  <ion-icon name="pizza"></ion-icon>
  <ion-label>Últimas Séries</ion-label>
</div>

<swiper-container #swiperContainer pagination="false" space-between="15" slides-per-view="3.5">
  <swiper-slide *ngFor="let movie of movies" (click)="openMovieModal(movie)">
    <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="swiper-lazy" alt="{{ movie.title }}">
    <div class="swiper-lazy-preloader"></div>
  </swiper-slide>
  <ion-modal></ion-modal>
</swiper-container>


