<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grupo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fellipe Amaral</ion-card-title>
      <ion-card-subtitle>Desenvolvedor Front-End</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Prototipagem e desenvolvimento das páginas, <br>
      design e criação de interfaces.
    </ion-card-content>
  
    <ion-button href="https://github.com/feamaral-Dev" target="_blank" fill="clear">Github</ion-button>
    <ion-button href="https://www.linkedin.com/in/feamaral-dev/" target="_blank" fill="clear">LinkedIn</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedro Henrique</ion-card-title>
      <ion-card-subtitle>Desenvolvedor Front-End</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Prototipagem e desenvolvimento das páginas, <br>
      design e criação de interfaces.
    </ion-card-content>
  
    <ion-button href="" target="_blank" fill="clear">Github</ion-button>
    <ion-button href="https://www.linkedin.com/in/pedro-henrique-144155216/" target="_blank" fill="clear">LinkedIn</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gabriel Souza</ion-card-title>
      <ion-card-subtitle>Desenvolvedor Fullstack</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Desenvolvimento das services e providers. <br>
      Responsável pelo consumo das APIs utilizadas e <br>
      cadastro e autenticação de usuários.
    </ion-card-content>
  
    <ion-button href="https://github.com/GSalustrianoSouza" target="_blank" fill="clear">Github</ion-button>
    <ion-button href="https://www.linkedin.com/in/gabrielsalustriano/" target="_blank" fill="clear">LinkedIn</ion-button>
  </ion-card>

</ion-content>
